<header class="flex items-center justify-between px-8 py-4 bg-tertiary-fixed shadow-sm">

  <!-- Left side: Logo -->
  <div class="flex items-center gap-2 cursor-pointer" routerLink="/">
    <!-- Placeholder for logo-->
    <span class="text-4xl font-bold text-on-tertiary-fixed-variant tracking-wide">BeeThere</span>
  </div>

  @switch (variant()) {
    @case ('landing') {
      <div class="flex items-center gap-4">
        <p-button label="Log in" routerLink="/login" outlined />
        <p-button label="Register" routerLink="/register" />
      </div>
    }
    @case ('login') {
      <div class="flex items-center gap-4">
        <p-button label="Register" routerLink="/register" />
      </div>
    }
    @case ('register') {
      <div class="flex items-center gap-4">
        <p-button label="Log in" routerLink="/login" outlined />
      </div>
    }
    @default {
      <!-- Center: Navigation -->
      <nav>
        <ul class="flex items-center gap-8 font-semibold text-on-surface text-lg">
          @for (item of navItems(); track item.path) {
            <li>
              <span class="text-on-surface">{{ item.label }}</span>
            </li>
          }
        </ul>
      </nav>

      <!-- Right side: User Profile -->
      <div class="flex items-center gap-4">
        <span class="font-medium text-on-surface text-lg">{{ session.role() }}</span>

        <p-avatar
          [label]="avatarLabel()"
          class="bg-surface-container-lowest text-general-highlight border-2 border-general-highlight"
          size="large"
          shape="circle">
        </p-avatar>
      </div>
    }
  }

</header>
