# IDEs
.idea/
*.iml
.vscode/

# Gradle
.gradle/
build/
**/build/

# Node/Vue
node_modules/
dist/

# OS files
.DS_Store

# Backend Build
backend/build/openapi.json

# Frontend Generated Client API
frontend/src/api/generated
