<footer class="flex items-center justify-between px-8 py-6 bg-surface-container-highest text-on-surface mt-auto border-t border-outline-variant">

  <!-- Left side -->
  <div class="flex items-center gap-2 text-sm font-medium">
    <!-- Placeholder for logo-->
    <span>©2026 BeeThere. All rights reserved.</span>
  </div>

  <!-- Right side -->
  <div class="flex items-center gap-6 font-semibold text-xl">
    <a href="#" class="hover:text-general-highlight transition-colors">FAQ</a>
    <a href="#" class="hover:text-general-highlight transition-colors">Privacy Policy</a>
  </div>

</footer>
